bin/
.tools/
dist/
*.test
coverage.out
etc/greyd.conf
etc/greyd.docker.conf
etc/*-init
*.swp
*~
packages/systemd/*.service
packages/systemd/*.timer
cover.out
coverage.html
packages/nfpm/stage/
packages/systemd/*.socket
coverage.out.raw
